
@{
    ViewBag.Title = "Main Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="homepage-hero-module">
        <div class="video-container">
            <div class="filter"></div>
            <video autoplay loop class="fillWidth">
                <source src="~/Content/Videos/VideoBackground.mp4" type="video/mp4" />
            </video>
        </div>
    </div>
</body>
</html>

